<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Recipe</title>
  <!--google fonts-->
  <link
    href="https://fonts.googleapis.com/css?family=Bungee+Inline|Montserrat+Subrayada|Press+Start+2P|Rye|VT323&display=swap"
    rel="stylesheet">
  <!--CSS modifications-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/addRecipe.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/mealPlan.css">
  <!--link rel="stylesheet" type="text/css" href="addRecipe.css"-->
</head>

<body>
  <h1 class="center" id="top">Pantry</h1>

  <div class="grid container topnav">
    <div class="row">

      <div class="relative col">
        <a href="/"><img id="calendar" class="image" src="images\calendar.jpg">
          <div class="centered">Calendar</div>
        </a>
      </div>

      <div class="relative col">
        <a href="addRecipe"><img id="addRecipe" class="image" src="images/addRecipe.jpg">
          <div class="centered">Add a Recipe</div>
        </a>
      </div>

      <div class="relative col">
        <a class="active" href="pantry"><img id="pantry" class="image" src="images/pantry.jpg">
          <div class="centered">Pantry</div>
        </a>
      </div>

      <div class="relative col">
        <a href="recipeList"><img id="recipeList" class="image" src="images/recipeList.jpg">
          <div class="centered">List of Recipes</div>
        </a>
      </div>
      <div class="relative col">
        <a href="ingredientList"><img id="ingredientList" class="image" src="images/ingredientList.jpg">
          <div class="centered">Shopping List</div>
        </a>
      </div>
    </div>
  </div>

  <form id="formAddRecipe" name="addProduct" method="post" action="/pantry">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label class="beige center" for="expDate">Expiration Date:</label>
        </div>
        <div class="col">
          <input class="form-control recipeForm" id="expDate" type="date" name="expDate" />
        </div>

        <div class="col">
          <label class="beige center" for="location">Product Location:</label>
        </div>
        <div class="col">
          <select class="form-control recipeForm" id="location" type="text" name="location">
            <option value="pantry">Pantry</option>
            <option value="refrigerator">Refrigerator</option>
            <option value="freezer">Freezer</option>
          </select>
        </div>
      </div>
      <div id="ingredPrep">
        <div class="row">
          <div class="col">
            <label class="gray center" for="number">Numeric Quantity:</label>
          </div>
          <div class="col">
            <input type="number" name="number" id="number" min="0" value="0" step=".1" class="input form-control recipeForm">
          </div>
          <div class="col" id="quantity">
            <% var numbers = ["Fractional Quantity", "⅛", "⅜", "⅝", "⅞", "¼", "¾", "⅓", "⅔", "½"];
            var selectHTML1 = "";
            selectHTML1 = '<select class="form-control recipeForm" name="quantity">';
            for (i = 0; i < numbers.length; i = i + 1) {
                selectHTML1 += "<option value='" + numbers[i] + "'>" + numbers[i] + "</option>";
            }
            selectHTML1 += "</select>";
            %><%- selectHTML1%>
          </div>
          <div class="col" id="unit">
            <% var units = ["unit", "Tbsp", "tsp", "oz", "fl oz", "cup", "qt", "pt", "gal", "lb"];
            var selectHTML2 = "";
            selectHTML2 += '<select class="form-control recipeForm" name="unit">';
            for (i = 0; i < units.length; i = i + 1) {
                selectHTML2 += "<option value='" + units[i] + "'>" + units[i] + "</option>";
            }
            selectHTML2 += "</select>";
            %><%- selectHTML2%>
          </div>
          <div class="col">
            <input class="form-control recipeForm" id="inputProductName" type="text" placeholder="Product Name"
              name="productName" />
          </div>
        </div>
      </div>
      <button class="recipeForm btn btn-md u-btn-primary g-mr-10 g-mb-15" id="btnSubmit" type="submit">Submit
        Product</button>
    </div>
  </form>
  <div class="row relative1" id="bgImage">
    <img class="image1" src="https://i.insider.com/5e0a54e3855cc27bf1384746?width=1000&format=jpeg&auto=webp">
    
    <ul style="list-style-type:none;" class="col centered1">
      <h3>Pantry</h3>
      <% var list='' ; for (i = 0; i < recipes.length; i++) { if (location[i] == 'pantry') list +='<li>' + recipes[i] + '</li>' ; } %>
        <%- list%>
    </ul>
    <ul style="list-style-type:none;" class="col centered2"> 
      <h3>Refrigerator</h3>
      <% var list1='' ; for (i = 0; i < recipes.length; i++) { if (location[i] == 'refrigerator') list1 +='<li>' + recipes[i] + '</li>' ; } %>
        <%- list1%>
    </ul>
    <ul style="list-style-type:none;" class="col centered3">
      <h3>Freezer</h3> 
      <% var list2='' ; for (i = 0; i < recipes.length; i++) { if (location[i] == 'freezer') list2 +='<li>' + recipes[i] + '</li>' ; } %>
        <%- list2%>
    </ul>
    
  </div>
  <div class="center">
    <a href="#top">Top</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>